@using CABasicCRUD.Application.Common.Interfaces
@using CABasicCRUD.Application.Features.Posts
@model CABasicCRUD.Presentation.WebMvc.Models.Users.UserDetailsViewModel
@inject ICurrentUser CurrentUser

@{
    ViewData["Title"] = "User";
}


<section class="mx-auto bg-white w-2/3 px-20 py-24 border-x border-gray-300 min-h-screen flex flex-col gap-20">
    <div class="flex gap-10 items-end">
        @* replace with profile photo *@
        <div class="border border-gray-400 rounded-sm p-4 w-64 h-64"></div>

        <div class="flex flex-col gap-2 w-1/3">
            <div class="flex items-center justify-between">
                <h1 class="font-bold text-3xl text-gray-700">@Model.Name</h1>
                @if (CurrentUser.UserId == Model.Id)
                {
                    <nav>
                        <a href="/users/@CurrentUser.UserId/edit" class="text-gray-500 font-semibold">Update</a>
                    </nav>
                }
            </div>

            <p>@Model.Username</p>
        </div>
    </div>

    <div class="flex flex-col gap 6">
        <h2 class="font-bold text-gray-600 text-2xl">Recent posts</h2>

        @* filter form *@
        <form method="get" class="mt-10 flex items-center gap-2 text-sm w-full">
            <input asp-for="PostsList.SearchTerm" placeholder="Search posts..."
                   class="border border-gray-300 rounded-sm p-2 w-1/2" />

            <select asp-for="PostsList.OrderBy" asp-items="Html.GetEnumSelectList<PostOrderBy>()"
                    class="border border-gray-300 rounded-sm p-2" onchange="this.form.submit()"></select>

            <select asp-for="PostsList.SortDirection" asp-items="Html.GetEnumSelectList<SortDirection>()"
                    class="border border-gray-300 rounded-sm p-2" onchange="this.form.submit()"></select>

            <select asp-for="PostsList.PageSize" class="border border-gray-300 rounded-sm p-2"
                    onchange="this.form.submit()">
                <option value="10">10/page</option>
                <option value="20">20/page</option>
                <option value="30">30/page</option>
            </select>

            <div>
                <input asp-for="PostsList.Page" value="1" type="hidden" />

                <input asp-for="PostsList.PageSize" type="hidden" />

                <button type="submit" class="bg-gray-800 text-white py-2 px-4 rounded-sm cursor-pointer">Filter</button>
            </div>
        </form>


        @* list of posts *@
        <ul class="mt-10 w-3/4 flex flex-col gap-6">
            @foreach (var post in Model.PostsList.Posts)
            {
                <li class="">
                    <div class="flex items-start justify-between">
                        <div class="flex flex-col">
                            <div class="flex items-center gap-4">
                                <a href="/posts/@post.Id" class="flex flex-col">
                                    <p class="text-gray-700 font-bold">@post.Title</p>
                                </a>
                                <a href="/users/@post.UserId" class="">
                                    <p class="text-sm font-bold text-gray-500">- @post.AuthorName</p>
                                </a>
                            </div>
                            <a href="/posts/@post.Id" class="flex flex-col">
                                <p class="w-3/4">@post.ContentPreview</p>
                            </a>
                        </div>
                        @if (CurrentUser.UserId == post.UserId)
                        {
                            <nav class="flex gap-4">
                                <a href="/posts/@post.Id/edit">
                                    <button
                                        class="bg-gray-100 px-2 py-1 text-gray-700 text-sm font-semibold rounded-sm cursor-pointer">
                                        Edit
                                    </button>
                                </a>
                                <a href="/posts/@post.Id/delete">
                                    <button
                                        class="bg-red-100 px-2 py-1 text-red-700 text-sm font-semibold rounded-sm cursor-pointer">
                                        Delete
                                    </button>
                                </a>
                            </nav>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</section>