@using CABasicCRUD.Application.Common.Interfaces
@model CABasicCRUD.Presentation.WebMvc.Models.Posts.PostDetailsViewModel
@inject ICurrentUser CurrentUser

@{
    ViewData["Title"] = "Post";
}

<article class="mx-auto bg-white w-2/3 py-28 px-20 border-x border-gray-300 min-h-screen">

    @* Post *@
    <h1 class="font-bold text-3xl text-gray-700">@Model.Title</h1>

    <nav class="flex gap-6 mt-6 items-center">
        @if (Model.UserId == CurrentUser.UserId)
        {
            <div class="flex gap-2">
                <a href="/posts/@Model.Id/edit">
                    <button class="bg-gray-100 px-2 py-1 text-gray-700 font-semibold rounded-sm cursor-pointer">
                        Edit
                    </button>
                </a>
                <a href="/posts/@Model.Id/delete">
                    <button class="bg-red-100 px-2 py-1 text-red-700 font-semibold rounded-sm cursor-pointer">
                        Delete
                    </button>
                </a>
            </div>
        }
        <a href="/posts" class="text-gray-500 font-medium">
            Back to posts
        </a>
    </nav>

    <p class="mt-8">
        @Model.Content
    </p>

    @* Add comment *@
    <section class="mt-16 w-full">
        <h6 class="font-bold text-gray-700">Add a comment</h6>

        <form asp-controller="Posts" asp-action="CreateComment" asp-route-id="@Model.Id" method="post"
              class="mt-5 flex flex-col gap-3">
            <div class="flex flex-col gap-1">
                <textarea asp-for="NewComment.Body" placeholder="Write your comment..."
                          class="border border-gray-300 rounded-sm p-2"></textarea>
                <span asp-validation-for="NewComment.Body" class="text-sm font-semibold text-red-600"></span>
            </div>

            <button type="submit"
                    class="bg-gray-900 text-white py-2 px-4 rounded-sm cursor-pointer font-semibold text-sm w-1/6">
                Submit
            </button>
        </form>
    </section>

    @* Comments *@
    <section class="mt-16">
        <h4 class="text-2xl text-gray-700 font-semibold mb-8">Comments (@Model.Comments.Count)</h4>

        @if (!Model.Comments.Any())
        {
            <p class="text-gray-800">No comments yet.</p>
        }
        else
        {
            <div class="flex flex-col gap-6">
                @foreach (var comment in Model.Comments)
                {
                    <div>
                        <p class="mb-1">@comment.Body</p>
                        <small class="text-gray-600 font-medium">
                            @comment.CreatedAt.ToString("g")
                        </small>
                    </div>
                }
            </div>
        }
    </section>

</article>